.centered-content{
    display: flex;
    justify-content: center;
    align-items:center;
    width:50%;
    height: 50%;

}
.task-list-container{
    display: flex;
    flex-direction :column;
    flex-grow: 1;
    width: 250px;
    padding: 42px;
    background-color: burlywood;
    border-top-right-radius:8px ;
    border-bottom-right-radius: 8px;
}
.task{
    background-color: white;
    padding: 15px 20px;
    border-radius:5px ;
    margin-top: 10px;
    transition: box-shadow 0.2s ease ;
    cursor: pointer;
   
}
.task:hover{
    box-shadow:0 0 0 5px #eeeeee;
   }
.task.complete{
    cursor: pointer;
    text-decoration: line-through;
    opacity: 0.8;
}

